<!DOCTYPE html>
<html>
    <head>
        {% include 'header.tmpl' %}
    </head>
    <body>

        <nav>
            <ul>
                <li>
                    <figure>
                        <i class="fa fa-compass"></i>
                    </figure>
                    <nav class="wx-wrapper">
                        <ul>
                            {% for communeID, trash in voting.divisions[voting.divisionSubpageNo].communes.items() %}
                                <li data-link-commune="{{communeID}}">
                                    {{communeID}}
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </li>
                <li>
                    <figure>
                        <i class="fas fa-search"></i>
                    </figure>
                    <input type="text" size="35" placeholder="Znajdź region..."></input>
                    <nav class="wxx-wrapper">
                        <ol></ol>
                    </nav>
                </li>
            </ul>
        </nav>

        <header>
            <h1>Wybory Prezydenta</h1>
            <h1>Rzeczypospolitej Polskiej 2000r.</h1>
            <h2>{{ voting.voivodeshipSubpageName }}</h2>
            <h3>Okręg {{ voting.divisionSubpageNo }}</h3>
            <figure id="main-map-chart"></figure>
            
            <nav>
                <ul>
                    <li>
                        <a href="./index.html">Polska</a>
                    </li>
                    <li data-link-voivodeship="{{voting.voivodeshipSubpageName}}">
                        {{ voting.voivodeshipSubpageName }}
                    </li>
                    <li data-link-division="{{voting.divisionSubpageNo}}">
                        Okręg {{ voting.divisionSubpageNo }}
                    </li>
                </ul>
            </nav>
            
        </header>

        <aside>
            <nav>
                <ul>
                     {% for communeID, trash in voting.divisions[voting.divisionSubpageNo].communes.items() %}
                        <li data-link-commune="{{communeID}}">
                            {{communeID}}
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </aside>

        <main>

             <nav>
                <ul></ul>
            </nav>

            <section>
                <h4>Procentowa liczba głosów dla poszczególnych kandydatów</h4>
                <i data-icon="fas fa-users"></i>

                <figure id="votes-per-cand-chart"></figure>

                <table>
                     <thead>
                        <tr>
                            <th data-mode="toggle" data-type="string">Kandydat</th>
                            <th data-mode="toggle" data-type="integer">Oddane głosy</th>
                            <th data-mode="toggle" data-type="percentage">Wynik (%)</th>
                        </tr>
                     </thead>
                    <tbody>
                        {% for candidate, candidateData in voting.divisions[voting.divisionSubpageNo].candidates.items() %}
                            <tr>
                                <td>{{candidateData.name}}</td>
                                <td>{{candidateData.votesStr}}</td>
                                <td>{{candidateData.percentageStr}}</td>
                            </tr>
                        {% endfor %}
                     </tbody>
                </table>

                 <table>
                     <thead>
                        <tr>
                            <th data-mode="toggle" data-type="string">Gmina</th>
                            <th data-mode="toggle" data-type="integer">Oddane głosy</th>
                            {% for candidate in voting.bestCandidates %}
                                <th data-mode="toggle" data-type="percentage">{{candidate.label}}</th>
                            {% endfor %}
                        </tr>
                     </thead>
                    <tbody>
                        {% for communeID, trash in voting.divisions[voting.divisionSubpageNo].communes.items() %}
                            <tr data-link-commune="{{communeID}}">
                                <td>Gmina {{communeID}}</td>
                                <td>{{voting.communes[communeID].cardsCollectedStr}}</td>
                                {% for candidate in voting.bestCandidates %}
                                    <td data-mode="toggle" data-type="integer">{{voting.communes[communeID].candidates[candidate.name].percentageStr}}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                     </tbody>
                </table>

            </section>

            <section>
                <h4>Dane szczegółowe</h4>
                <i data-icon="fas fa-info"></i>

                <figure id="votes-invalid-rate-chart"></figure>
                <figure id="votes-by-region-chart"></figure>
                
                
                <table>
                     <thead>
                        <tr>
                            <th data-mode="toggle" data-type="string">Statystyka</th>
                            <th data-mode="toggle" data-type="integer">Ilość</th>
                        </tr>
                     </thead>
                    <tbody>
                        <tr>
                            <td>Uprawnionych do głosowania</td>
                            <td>{{voting.divisions[voting.divisionSubpageNo].allowedStr}}</td>
                        </tr>
                        <tr>
                            <td>Wydanych kart</td>
                            <td>{{voting.divisions[voting.divisionSubpageNo].cardsReleasedStr}}</td>
                        </tr>
                        <tr>
                            <td>Kart zebranych z urn</td>
                            <td>{{voting.divisions[voting.divisionSubpageNo].cardsCollectedStr}}</td>
                        </tr>
                        <tr>
                            <td>Głosów ważnych</td>
                            <td>{{voting.divisions[voting.divisionSubpageNo].votesValidStr}}</td>
                        </tr>
                        <tr>
                            <td>Głosów nieważnych</td>
                            <td>{{voting.divisions[voting.divisionSubpageNo].votesInvalidStr}}</td>
                        </tr>
                     </tbody>
                </table>
            </section>

            <section>
                <h4>Frekwencja</h4>
                <i data-icon="fas fa-percent"></i>
                <figure id="frequency-map-chart"></figure>

                <table>
                    <thead>
                        <tr>
                            <th data-mode="toggle" data-type="string">Gmina</th>
                            <th data-mode="toggle" data-type="integer">Uprawnionych</th>
                            <th data-mode="toggle" data-type="integer">Wydane karty</th>
                            <th data-mode="toggle" data-type="percentage">Frekwencja (%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for communeID, trash in voting.divisions[voting.divisionSubpageNo].communes.items() %}
                            <tr data-link-commune="{{communeID}}">
                                <td>Gmina {{communeID}}</td>
                                <td>{{voting.communes[communeID].allowedStr}}</td>
                                <td>{{voting.communes[communeID].cardsReleasedStr}}</td>
                                <td>{{voting.communes[communeID].frequencyPercStr}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>

            {% include 'footer.tmpl' %}
            
        </main>
        
        {% include 'load-script.tmpl' %}
        
    </body>
</html>
