<!DOCTYPE html>
<html>
    <head>
        {% include 'header.tmpl' %}
    </head>
    <body>

        <nav>
            <ul>
                <li>
                    <figure>
                        <i class="fa fa-compass"></i>
                    </figure>
                    <span class="wx-wrapper">
                        <ul>
                            {% for communeID, trash in voting.divisions[voting.divisionSubpageNo].communes.items() %}
                                <li data-link-commune="{{communeID}}">
                                    {{communeID}}
                                </li>
                            {% endfor %}
                        </ul>
                    </span>
                </li>
                <li>
                    <figure>
                        <i class="fas fa-search"></i>
                    </figure>
                    <input type="text" size="35" placeholder="Znajdź region..."></input>
                    <span class="wxx-wrapper">
                        <ol></ol>
                    <span>
                </li>
            </ul>
        </nav>

        <header>
            <h1>
                <p>Wybory Prezydenta</p>
                <p>Rzeczypospolitej Polskiej 2000r.</p>
                <p>{{ voting.voivodeshipSubpageName }}</p>
                <p>Okręg {{ voting.divisionSubpageNo }}</p>
            </h1>
            <figure id="main-map-chart"></figure>
        </header>

        <aside>
            <nav>
                <ul>
                     {% for communeID, trash in voting.divisions[voting.divisionSubpageNo].communes.items() %}
                        <li data-link-commune="{{communeID}}">
                            {{communeID}}
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </aside>

        <main>

            <ol style="display:none">
                <li>
                    <a href="http://www.example.com/">
                        Polska
                    </a>
                </li>
            </ol>

             <nav>
                <ul></ul>
            </nav>

            <section>
                <h2>Procentowa liczba głosów dla poszczególnych kandydatów</h2>
                <span class="section-icon" data-icon="fas fa-users"></span>

                <figure id="votes-per-cand-chart"></figure>

                <table class="results-table">
                     <thead>
                        <tr>
                            <th data-mode="toggle" data-type="string">Kandydat</th>
                            <th data-mode="toggle" data-type="integer">Oddane głosy</th>
                            <th data-mode="toggle" data-type="percentage">Wynik (%)</th>
                        </tr>
                     </thead>
                    <tbody>
                        {% for candidate, candidateData in voting.divisions[voting.divisionSubpageNo].candidates.items() %}
                            <tr>
                                <td>{{candidateData.name}}</td>
                                <td>{{candidateData.votesStr}}</td>
                                <td>{{candidateData.percentageStr}}</td>
                            </tr>
                        {% endfor %}
                     </tbody>
                </table>

                 <table class="results-table">
                     <thead>
                        <tr>
                            <th data-mode="toggle" data-type="string">Gmina</th>
                            <th data-mode="toggle" data-type="integer">Oddane głosy</th>
                            {% for candidate in voting.bestCandidates %}
                                <th data-mode="toggle" data-type="percentage">{{candidate.label}}</th>
                            {% endfor %}
                        </tr>
                     </thead>
                    <tbody>
                        {% for communeID, trash in voting.divisions[voting.divisionSubpageNo].communes.items() %}
                            <tr data-link-commune="{{communeID}}">
                                <td>Gmina {{communeID}}</td>
                                <td>{{voting.communes[communeID].cardsCollectedStr}}</td>
                                {% for candidate in voting.bestCandidates %}
                                    <td data-mode="toggle" data-type="integer">{{voting.communes[communeID].candidates[candidate.name].percentageStr}}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                     </tbody>
                </table>

            </section>

            <section>
                <h2>Dane szczegółowe</h2>
                <span class="section-icon" data-icon="fas fa-info"></span>

                <figure id="votes-invalid-rate-chart"></figure>
                <figure id="votes-by-region-chart"></figure>
                
                
                <table class="results-table">
                     <thead>
                        <tr>
                            <th data-mode="toggle" data-type="string">Statystyka</th>
                            <th data-mode="toggle" data-type="integer">Ilość</th>
                        </tr>
                     </thead>
                    <tbody>
                        <tr>
                            <td>Uprawnionych do głosowania</td>
                            <td>{{voting.divisions[voting.divisionSubpageNo].allowedStr}}</td>
                        </tr>
                        <tr>
                            <td>Wydanych kart</td>
                            <td>{{voting.divisions[voting.divisionSubpageNo].cardsReleasedStr}}</td>
                        </tr>
                        <tr>
                            <td>Kart zebranych z urn</td>
                            <td>{{voting.divisions[voting.divisionSubpageNo].cardsCollectedStr}}</td>
                        </tr>
                        <tr>
                            <td>Głosów ważnych</td>
                            <td>{{voting.divisions[voting.divisionSubpageNo].votesValidStr}}</td>
                        </tr>
                        <tr>
                            <td>Głosów nieważnych</td>
                            <td>{{voting.divisions[voting.divisionSubpageNo].votesInvalidStr}}</td>
                        </tr>
                     </tbody>
                </table>
            </section>

            <section>
                <h2>Frekwencja</h2>
                <span class="section-icon" data-icon="fas fa-percent"></span>
                <figure id="frequency-map-chart"></figure>

                <table class="results-table voting-frequency">
                    <thead>
                        <tr>
                            <th data-mode="toggle" data-type="string">Gmina</th>
                            <th data-mode="toggle" data-type="integer">Uprawnionych</th>
                            <th data-mode="toggle" data-type="integer">Wydane karty</th>
                            <th data-mode="toggle" data-type="percentage">Frekwencja (%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for communeID, trash in voting.divisions[voting.divisionSubpageNo].communes.items() %}
                            <tr data-link-commune="{{communeID}}">
                                <td>Gmina {{communeID}}</td>
                                <td>{{voting.communes[communeID].allowedStr}}</td>
                                <td>{{voting.communes[communeID].cardsReleasedStr}}</td>
                                <td>{{voting.communes[communeID].frequencyPercStr}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>

            <section>
                <h2>Statystyka ogółem</h2>
                <table width="100%" border="0" cellspacing="2" cellpadding="1" align="center">

                </table>
            </section>

            <footer>
                <p>Piotr Styczyński @2018</p>
                <p>Projekt realizowany w ramach zajęć z WWW (Uniwersytet Warszawski)</p>
                <p>@styczynski</p>
                <a href="https://github.com/styczynski/pl-election-2000">
                    <img src="https://avatars2.githubusercontent.com/u/7319352?s=460&v=4" />
                </a>
            </footer>
        </main>
        
        {% include 'footer.tmpl' %}
        
    </body>
</html>
