<script type="text/javascript">(function(){setTimeout(function(){setLocationHints('{{ voting.voivodeshipSubpageName }}','{{ voting.divisionSubpageNo }}','{{ voting.communeSubpageName }}');},100);})();</script>
<script src="./voting_data.js" async></script>