<footer>
    <p>Piotr Styczyński @2018</p>
    <p>Projekt realizowany w ramach zajęć z WWW (Uniwersytet Warszawski)</p>
    <p>@styczynski</p>
    <a href="https://github.com/styczynski/pl-election-2000">
        <img alt="Piotr Styczyński - zdjęcie" src="https://avatars2.githubusercontent.com/u/7319352?s=460&v=4" />
    </a>
</footer>