<!DOCTYPE html>
<html>
    <head>
        {% include 'header.tmpl' %}
        <script>
            const VOTING_DATA = {{ votingJSON | safe }};
        </script>
    </head>
    <body>

        <nav>
            <ul>
                <li>
                    <figure>
                        <i class="fa fa-compass"></i>
                    </figure>
                    <ul>
                        {% for voivodeship, data in voting.voivodeships.items() %}
                            <li data-link-voivodeship="{{voivodeship}}">
                                {{voivodeship}}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <figure>
                        <i class="fas fa-search"></i>
                    </figure>
                    <input type="text" size="35" placeholder="Znajdź region..." />
                    <ol>
                        <li>Wynik 1</li>
                        <li>Wynik 2</li>
                        <li>Wynik 3</li>
                        <li>Wynik 4</li>
                        <li>Wynik 5</li>
                    </ol>
                </li>
            </ul>
        </nav>

        <header>
            <h1>
                <p>Wybory Prezydenta</p>
                <p>Rzeczypospolitej Polskiej 2000r.</p>
            </h1>
            <figure class="main-map-fig">
                <div id="main-map-chart"></div>
            </figure>
        </header>

        <aside>
            <nav>
                <ul>
                     {% for voivodeship, data in voting.voivodeships.items() %}
                        <li data-link-voivodeship="{{voivodeship}}">
                            {{voivodeship}}
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </aside>

        <main>

            <nav>
                <ul></ul>
            </nav>

            <ol style="display:none">
                <li>
                    <a href="http://www.example.com/">
                        Polska
                    </a>
                </li>
            </ol>

            <section>
                <h2>Procentowa liczba głosów dla poszczególnych kandydatów</h2>
                <span class="section-icon" data-icon="fas fa-users"></span>

                <figure>
                    <!--<img src="./img/kd.png" border="0">-->
                    <div id="votes-per-cand-chart"></div>
                </figure>

                <table class="results-table">
                     <thead>
                        <tr>
                            <th data-mode="toggle" data-type="string">Kandydat</th>
                            <th data-mode="toggle" data-type="integer">Oddane głosy</th>
                            <th data-mode="toggle" data-type="percentage">Wynik (%)</th>
                        </tr>
                     </thead>
                    <tbody>
                        {% for candidate, candidateData in voting.candidates.items() %}
                            <tr>
                                <td>{{candidateData.name}}</td>
                                <td>{{candidateData.votesStr}}</td>
                                <td>{{candidateData.percentageStr}}</td>
                            </tr>
                        {% endfor %}
                     </tbody>
                </table>

            </section>

            <br>

            <section>
                <h2>Dane szczegółowe</h2>
                <span class="section-icon" data-icon="fas fa-info"></span>

                <table class="results-table">
                     <thead>
                        <tr>
                            <th data-mode="toggle" data-type="string">Statystyka</th>
                            <th data-mode="toggle" data-type="integer">Ilość</th>
                        </tr>
                     </thead>
                    <tbody>
                        <tr>
                            <td>Uprawnionych do głosowania</td>
                            <td>{{voting.allowedStr}}</td>
                        </tr>
                        <tr>
                            <td>Wydanych kart</td>
                            <td>{{voting.cardsReleasedStr}}</td>
                        </tr>
                        <tr>
                            <td>Kart zebranych z urn</td>
                            <td>{{voting.cardsCollectedStr}}</td>
                        </tr>
                        <tr>
                            <td>Głosów ważnych</td>
                            <td>{{voting.votesValidStr}}</td>
                        </tr>
                        <tr>
                            <td>Głosów nieważnych</td>
                            <td>{{voting.votesInvalidStr}}</td>
                        </tr>
                     </tbody>
                </table>
            </section>

            <br>

            <section>
                <h2>Frekwencja</h2>
                <span class="section-icon" data-icon="fas fa-percent"></span>
                <figure>
                    <div id="frequency-map-chart"></div>
                    <!--<div id="subdivision-map-chart" style="width:900px;height:900px;"></div>-->
                </figure>

                <table class="results-table voting-frequency">
                    <thead>
                        <tr>
                            <th data-mode="toggle" data-type="string">Województwo</th>
                            <th data-mode="toggle" data-type="integer">Uprawnionych</th>
                            <th data-mode="toggle" data-type="integer">Wydane karty</th>
                            <th data-mode="toggle" data-type="percentage">Frekwencja (%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for voivodeship, data in voting.voivodeships.items() %}
                            <tr data-link-voivodeship="{{voivodeship}}">
                                <td>{{voivodeship}}</td>
                                <td>{{data.allowedStr}}</td>
                                <td>{{data.cardsReleasedStr}}</td>
                                <td>{{data.frequencyPercStr}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <table width="100%" cellspacing="2" cellpadding="1" border="0">
                    <tbody>
                        <tr>
                            <td width="100%">
                                <table border="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td valign="top" width="33%"><a href="http://prezydent2000.pkw.gov.pl/wb/woj/020000.html">WOJ. DOLNOŚLĄSKIE</a><br><a href="http://prezydent2000.pkw.gov.pl/wb/woj/040000.html">WOJ. KUJAWSKO-POMORSKIE</a><br><a href="http://prezydent2000.pkw.gov.pl/wb/woj/060000.html">WOJ. LUBELSKIE</a><br><a href="http://prezydent2000.pkw.gov.pl/wb/woj/080000.html">WOJ. LUBUSKIE</a><br><a href="http://prezydent2000.pkw.gov.pl/wb/woj/100000.html">WOJ. ŁÓDZKIE</a><br></td>
                                            <td valign="top" width="33%"><a href="http://prezydent2000.pkw.gov.pl/wb/woj/120000.html">WOJ. MAŁOPOLSKIE</a><br><a href="http://prezydent2000.pkw.gov.pl/wb/woj/140000.html">WOJ. MAZOWIECKIE</a><br><a href="http://prezydent2000.pkw.gov.pl/wb/woj/160000.html">WOJ. OPOLSKIE</a><br><a href="http://prezydent2000.pkw.gov.pl/wb/woj/180000.html">WOJ. PODKARPACKIE</a><br><a href="http://prezydent2000.pkw.gov.pl/wb/woj/200000.html">WOJ. PODLASKIE</a><br></td>
                                            <td valign="top" width="33%"><a href="http://prezydent2000.pkw.gov.pl/wb/woj/220000.html">WOJ. POMORSKIE</a><br><a href="http://prezydent2000.pkw.gov.pl/wb/woj/240000.html">WOJ. ŚLĄSKIE</a><br><a href="http://prezydent2000.pkw.gov.pl/wb/woj/260000.html">WOJ. ŚWIĘTOKRZYSKIE</a><br><a href="http://prezydent2000.pkw.gov.pl/wb/woj/280000.html">WOJ. WARMIŃSKO-MAZURSKIE</a><br><a href="http://prezydent2000.pkw.gov.pl/wb/woj/300000.html">WOJ. WIELKOPOLSKIE</a><br><a href="http://prezydent2000.pkw.gov.pl/wb/woj/320000.html">WOJ. ZACHODNIOPOMORSKIE</a><br></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <section>
                <h2>Statystyka ogółem</h2>
                <table width="100%" border="0" cellspacing="2" cellpadding="1" align="center">

                </table>
            </section>

            <br>
            <footer></footer>
        </main>

    </body>
</html>
