body {
    font-family: 'PT Sans', sans-serif;
    margin: 0px;
    background: #f7f7f7;
}
header {
    /* border: 2px solid black; */
    /* width: 800px; */
    /* height: 119px; */
    /* position: absolute; */
    /* top: 0px; */
    /* left: 0px; */
    /* background: #cc0f2f; */
    /* color: #575755; */
    /* padding-top: 39px; */
    /* padding-top: 4%; */
    /* padding-bottom: 48px; */
    /* border: 2px solid #dc4f77; */
}

header a {
    font-size: 3vw;
    width: 100%;
    height: 100%;
    font-weight: bold;
    color: #575755;
    text-decoration: none;
    padding-left: 3%;
    font-family: 'PT Sans', sans-serif;
    transition: all 0.5s;
}

header div.title {
    border-left: 4px solid #575755;
    position: relative;
    top: 67px;
    left: 134px;
    width: 50%;
    height: 98px;
    padding-left: 27px;
}

header div.mask {
    position: relative;
    top: -140px;
    left: -55px;
    opacity: 0;
    overflow: hidden;
    width: 647px;
    height: 184px;
    z-index: -9999999;
    transition: all 0.5s;
}

header div.mask img {
    height: 184px;
    width: 647px;
}

section {
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'PT Sans', sans-serif;
    /* background: #000000ab; */
    /* border-top: 2px solid #0a3d62; */
    /* border-bottom: 2px solid #0a3d62; */
    color: #575755;
    /* padding-left: 31px; */
    margin-bottom: 12px;
    border-left: 4px solid #975259;
    transition: all 0.5s;
}

section > h2 {
    margin-left: 30px;
}

nav.sections {
    background: #975259;
    width: 635px;
    position: relative;
    top: 133px;
    height: 59px;
    left: 134px;
}

nav.sections ul {
    list-style-type: none;
    margin: 0;
    /* padding: 0; */
    padding-left: 10px;
}

nav.sections li {
    display: inline-block;
    width: 52px;
    height: 52px;
    padding: 0px;
    width: 52px;
    height: 58px;
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;
    /* border-radius: 17px 17px 0 0; */
    padding-top: 5px;
    border-bottom: none;
}

nav.sections h1 {
    display: inline;
    font-size: 39px;
    color: #eadfdf;
    /* width: 52px; */
    /* height: 52px; */
    /* display: block; */
    /* padding-left: 11%; */
    /* padding-right: 25%; */
}

nav.sections li:hover {
    border-bottom: 2px solid #975259;
    background: #eadfdf;
}

nav.sections li:hover h1 {
    color: #975259;
}

nav.links {
    display: none;
}

main {
    display: none;
}

div.content-view {
    top: 290px;
    position: absolute;
    padding: 0;
    width: 84%;
    left: 134px;
    /* border-left: 4px solid #575755; */
}

table.content-layout {
    width: 100%;
    table-layout: fixed;
    /* border-collapse: collapse; */
}

table.content-layout td {
    line-height: 100px;
    height: 100px;
    /* background: white; */
    /* border: 2px solid #f7f1e3; */
}

.layout-colored-block {
    background: #cc0f2f;
}

.background-image {
    position: fixed;
    top: -15px;
    right: 25px;
    z-index: -1000000;
}



.perc-bar {

}

.perc-bar div {
    opacity: 0;
}

table.results-table {
    border-spacing: 0;
    width: 900px;
    table-layout: fixed;
}

table.results-table thead {
    background-color: #975259;
    color: white;
}

table.results-table thead th {
    padding: 10px;
    cursor: pointer;
    user-select: none;
}

table.results-table thead th:hover {
    background: white;
    color: #975259;
}

table.results-table thead th.sort-asc:after {
    width: 13px;
    display: inline-block;
    content: "↓";
}

table.results-table thead th.sort-desc:after {
    width: 13px;
    display: inline-block;
    content: "↑";
}

table.results-table tbody td {
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #f9c3c814;
    border-bottom: 1px #975259 solid;
    cursor: pointer;
    user-select: none;
}

table.results-table tbody tr:hover {
    background: #975259;
    color: white;
}

.voting-map-section {
    position: fixed;
    right: -22px;
    top: -141px;
    transform: scale(0.88);
    opacity: 0.5;
    pointer-events: none;
    z-index: -99;
}

.main-map-fig {
    position: fixed;
    right: -22px;
    top: -141px;
    transform: scale(0.88);
    z-index: 1000;
    background: url(./assets/voting_image_map.png);
    background-position-x: 97px;
    background-position-y: 90px;
    background-repeat: no-repeat;
    background-size: 323px;
    clip-path: circle(184px at 265px 263px);
    transition: all 0.5s;
}

.main-map-fig.minimized {
    transform: scale(0.48) translateX(392px);
}


.main-map-fig path:hover {
    fill: #eadfdf;
}
.main-map-fig path {
    fill: transparent;
}