
body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    background: #f7f7f7;
}

main {
    padding-top: 5vw;
}

body > nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    cursor: pointer;
    z-index: 100000000;
}

body > nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 8vh;
    width: 100%;
}

body > nav ul input {
    box-sizing: border-box;
    border: none;
    font-size: 80%;
    font-family: 'PT Sans', sans-serif;
    padding-left: 18px;
    border-bottom: 1px solid gray;
    background: transparent;
    width: 50%;
    transition: all 0.7s;
    color: gray;
}

body > nav ul input.active {
    width: 80%;
}

body > nav ul input:focus {
    outline: none;
}

body > nav ul li {
    color: #575755a3;
    font-size: 4vw;
    display: inline-block;
}

body > nav ul li > .wx-wrapper {
    width: 26vw;
    display: block;
    position: absolute;
    overflow: hidden;
    z-index: 10000;
}

body > nav ul li > .wxx-wrapper {
    width: 56vw;
    display: block;
    position: absolute;
    overflow: hidden;
    z-index: 10000;
}

body > nav ul li figure {
    margin: 0;
    padding: 1vw;
    display: inline-block;
}

body > nav ul li.active figure {
    color: white;
    background: #975259;
}

body > nav ul li ul {
    padding: 0;
    margin: 0;
    width: 27.5vw;
    font-size: 2vw;
    z-index: 100000000000;
    height: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: all 0.5s;
    background: #975259;
}

body > nav ul li ul.active {
    height: 50vh;
}

body > nav ul li ul li {
    box-sizing: border-box;
    border-bottom: solid 1px #0000002e;
    border-right: solid 1px #0000002e;
    border-left: solid 1px #0000002e;
    background: #975259;
    color: #f7f7f7;
    display: block;
    margin: 0;
    padding: 5px;
    width: 100%;
    cursor: pointer;
    font-size: 2vw;
}

body > nav ul li ul li:hover {
    background: #975259;
    color: white;
    font-weight: bold;
}

body > nav ul li ol {
    background: transparent;
    color: #f7f7f7;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 2vw;
    z-index: 1000;
    width: 120%;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 0;
}

body > nav ul li ol.active {
    height: 50vh;
}

body > nav ul li ol li {
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    display: block;
    border-top: 1px solid #575755;
    color: #f7f7f7;
    background: #975259;
    cursor: pointer;
    font-size: 2vw;
}

body > nav ul li ol li:hover {
    background: white;
    color: #575755;
    font-weight: bold;
}

h1, h2, h3 {
    font-size: 4vw;
    width: 100%;
    font-weight: bold;
    color: #575755;
    text-decoration: none;
    padding-left: 3%;
    margin-top: 0.15vw;
    margin-bottom: 0.15vw;
    font-family: 'PT Sans', sans-serif;
    transition: all 0.5s;
}

header {
    box-sizing: border-box;
    border-left: 0.4vw solid #575755;
    position: relative;
    top: 9vw;
    left: 5vw;
    width: 70vw;
    height: 15vw;
    padding-left: 27px;
}

header figure {
    position: fixed;
    right: -22px;
    top: -141px;
    transform: scale(0.88);
    z-index: 2000000;
    background: url(./assets/voting_image_map.png);
    background-position-x: 97px;
    background-position-y: 90px;
    background-repeat: no-repeat;
    background-size: 323px;
    clip-path: circle(184px at 265px 263px);
    transition: all 0.5s;
}

header figure.minimized {
    transform: scale(0.48) translateX(392px);
}

header figure path:hover {
    fill: #eadfdf;
}

header figure path {
    fill: transparent;
}

section {
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'PT Sans', sans-serif;
    color: #575755;
    margin-bottom: 12px;
    border-left: 0.4vw solid #975259;
    transition: all 0.5s;
}

h4 {
    margin-left: 3vw;
    font-size: 3vw;
    width: 65vw;
}

main > nav {
    background: #975259;
    width: 44vw;
    margin-top: 17vw;
    height: 6vw;
    margin-left: 5vw;
}

main > nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
}

main > nav li {
    display: inline-block;
    padding-top: 2vw;
    width: 5vw;
    height: 5.5vw;
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;
    border-bottom: none;
}

main > nav li figure {
    font-size: 3vw;
    color: #eadfdf;
    padding: 0;
    margin: 0;
}

main > nav li:hover {
    border-bottom: 2px solid #975259;
    background: #eadfdf;
}

main > nav li:hover figure {
    color: #975259;
}

table td, table tr {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table {
    border-spacing: 0;
    width: 74vw;
    table-layout: fixed;
}

table thead {
    background-color: #975259;
    color: white;
}

table thead th {
    padding: 10px;
    cursor: pointer;
    user-select: none;
}

table thead th:hover {
    background: white;
    color: #975259;
}

table thead .sort-asc:after {
    width: 13px;
    display: inline-block;
    content: "↓";
}

table thead .sort-desc:after {
    width: 13px;
    display: inline-block;
    content: "↑";
}

table tbody td {
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #f9c3c814;
    border-bottom: 1px #975259 solid;
    cursor: pointer;
    user-select: none;
}

table tbody tr:hover {
    background: #975259;
    color: white;
}

main section {
    margin-top: 0;
    padding: 0;
    width: 80vw;
    margin-left: 5vw;
    display: none;
    font-size: 1.5vw;
    padding-top: 1.5vw;
}

main section.active {
    display: block;
}

aside {
    position: fixed;
    right: 0;
    top: 0;
    width: 16vw;
    height: 100vh;
    padding-top: 195px;
    background: transparent;
    opacity: 0;
    transition: all 0.5s;
    z-index: 1000000;
    font-size: 1.5vw;
}

aside.active {
    opacity: 1;
}

aside nav {
    z-index: 1000001;
    position: relative;
    max-height: 56vh;
    overflow-y: scroll;
    left: 14px;
}

@media (max-height: 480px) {
    aside nav {
        max-height: 47vh;
    }
}

@media (max-height: 390px) {
    aside nav {
        max-height: 38vh;
    }
}

@media (max-height: 390px) {
    aside nav {
        max-height: 38vh;
    }
}

@media (max-height: 330px) {
    aside nav {
        max-height: 27vh;
    }
}

@media (max-height: 280px) {
    aside nav {
        max-height: 18vh;
    }
}

@media (max-height: 246px) {
    aside nav {
        display: none;
    }
}

aside nav ul {
    list-style: none;
    font-size: 63%;
    padding-left: 0;
}

aside nav ul li {
    box-sizing: border-box;
    margin-left: 22px;
    cursor: pointer;
    border-left: #00000030 0.3vw solid;
    padding-left: 10px;
    word-wrap: break-word;
    width: 70%;
}

aside nav ul li:hover {
    font-weight: 600;
    margin-left: 0;
    background: #00000024;
    padding-left: 31px;
}

section figure {
    height: 50vw;
}

figure > div {
    width: 100%;
    height: 100%;
}

footer {
    width: 100vw;
    height: 7vw;
    margin-top: 7vw;
    background: #90908f3d;
    color: #2d2d2c;
    padding-top: 4vw;
    padding-bottom: 2vw;
    font-size: 1.5vw;
    font-weight: bold;
    z-index: 1000000000;
}

footer p {
    padding-left: 5vw;
    margin: 0;
}

footer a img {
    box-sizing: border-box;
    width: 7vw;
    margin-left: 1vw;
    border-radius: 50%;
    filter: grayscale(100%);
}

footer a {
    background: transparent;
    width: 100%;
    float: left;
    position: relative;
    top: -14vw;
    height: 18vw;
    display: block;
}

footer:hover {
    background: #975259b8;
}

footer:hover a {
    background: #afafaf45;
}

footer:hover a img {
    filter: unset;
}

figure .loading-spinner {
    box-sizing: border-box;
    border-left: 1vw solid #975259;
    border-top: 1vw transparent solid;
    border-right: 1vw transparent solid;
    border-bottom: 1vw transparent solid;
    width: 10vw;
    height: 10vw;
    margin-left: 25%;
    margin-top: 25%;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        border-left: 1vw solid #975259;
        border-top: 1vw transparent solid;
        border-right: 1vw transparent solid;
        border-bottom: 1vw transparent solid;
        transform: rotate(0deg);
    }
    25% {
        border-left: 1vw transparent solid;
        border-top: 1vw solid #975259;
        border-right: 1vw transparent solid;
        border-bottom: 1vw transparent solid;
        transform: rotate(90deg);
    }
    50% {
        border-left: 1vw transparent solid;
        border-top: 1vw transparent solid;
        border-right: 1vw solid #975259;
        border-bottom: 1vw transparent solid;
        transform: rotate(180deg);
    }
    75% {
        border-left: 1vw transparent solid;
        border-top: 1vw transparent solid;
        border-right: 1vw transparent solid;
        border-bottom: 1vw solid #975259;
        transform: rotate(270deg);
    }
    100% {
        border-left: 1vw solid #975259;
        border-top: 1vw transparent solid;
        border-right: 1vw transparent solid;
        border-bottom: 1vw transparent solid;
        transform: rotate(360deg);
    }
}


#votes-by-region-chart {
    width: 34vw;
}

#votes-invalid-rate-chart {
    float: right;
    width: 38vw;
}

@media (min-width: 1600px) {
    header figure {
        right: -22px;
        top: 0;
        transform: scale(1.5);
    }

    header figure.minimized {
        transform: scale(0.9) translateX(100px);
        top: -6vw;
    }

    aside {
        top: 8vw;
    }
}

@media (max-width: 1000px) {

    header {
        left: 18vw;
    }

    main > nav {
        margin-left: 18vw;
    }

    main section {
        margin-left: 18vw;
    }

    header figure, header figure.minimized {
        position: absolute;
        left: -327px;
        top: -190px;
        right: unset;
        margin: 0;
        padding: 0;
        transform: scale(0.45);
    }

    aside {
        display: none;
    }
    
    #votes-by-region-chart {
      width: 62vw;
    }

    #votes-invalid-rate-chart {
        float: none;
        width: 62vw;
    }

}


@media (max-width: 800px) {
    
    header figure, header figure.minimized {
        left: -318px;
        top: -197px;
        transform: scale(0.40);
    }

}

@media (max-width: 700px) {

    header figure, header figure.minimized {
        left: -318px;
        top: -197px;
        transform: scale(0.35);
    }

}

@media (max-width: 650px) {

    header figure, header figure.minimized {
        left: -302px;
        top: -206px;
        transform: scale(0.30);
    }

}

@media (max-width: 530px) {

    header figure, header figure.minimized {
        left: -289px;
        top: -220px;
        transform: scale(0.20);
    }

    main > nav {
        margin-left: 3vw;
    }

    main section {
        margin-left: 3vw;
    }

    table {
        width: 97vw;
        font-size: 3vw;
    }


    table tbody td {
        padding: 2px;
    }

}

@media (max-width: 430px) {

    header figure, header figure.minimized {
        left: -294px;
        top: -211px;
        transform: scale(0.20);
    }

}

@media (max-width: 400px) {

    header figure, header figure.minimized {
        left: -282px;
        top: -230px;
        transform: scale(0.15);
    }

    body > nav ul li ol li {
        font-size: 4vw;
    }

    body > nav ul li ul{
        font-size: 4vw;
        width: 32vw;
    }

    body > nav ul li ul li {
        font-size: 4vw;
        width: 32vw;
    }

    body > nav ul li > .wx-wrapper {
        width: 32vw;
    }

}

@media (max-width: 300px) {

    header figure, header figure.minimized {
        left: -273px;
        top: -235px;
        transform: scale(0.12);
    }

    main > nav {
        width: 84vw;
        height: 13vw;
    }

    main section {
        margin-top: 0;
    }

    main > nav li {
        width: 11vw;
        height: 12vw;
    }

    section figure {
        height: 80vw;
        width: 80vw;
    }

    h4 {
        font-size: 5vw;
    }
    
    main > nav li figure {
        font-size: 8vw;
    }

}

@media (max-width: 220px) {

    header figure, header figure.minimized {
        left: -269px;
        top: -235px;
        transform: scale(0.10);
    }

}

@media (max-width: 300px) {

    header figure, header figure.minimized {
        display: none;
    }

    header {
        left: 4vw;
        top: 14vw;
        padding-left: 14vw;
    }

    body > nav ul li {
        font-size: 8vw;
    }

    body > nav ul input, body > nav ul input.active {
        width: 57vw;
    }

    body > nav > ul > li:first-child {
        float: right;
        z-index: 999999999999999999;
    }

    body > nav > ul > li.active:first-child {
        float: right;
    }

    body > nav > ul > li:first-child > .wx-wrapper{
        position: absolute;
        left: 0;
        width: 100vw;
    }

    body > nav ul li ul {
        width: 100vw;
    }

    body > nav ul li ul li {
        width: 100vw;
    }

    body > nav ul li.active > .wx-wrapper {
        width: 100vw;
    }

    body > nav ul li.active > .wxx-wrapper {
        width: 70vw;
    }

}

@media (max-width: 130px) {

    header {
        top: 18vw;
    }

    main > nav {
        margin-top: 45vw;
        width: 105vw;
    }

    h4 {
        width: 106vw;
        font-size: 8vw;
    }

    table {
        font-weight: 800;
        font-size: 5vw;
    }
    
    main > nav li {
        position: relative;
        top: -5px;
    }
}

@media (max-width: 90px) {
    main > section figure {
        display: none;
    }

    table {
        font-weight: 800;
        font-size: 2vw;
    }

    main > nav {
        height: 16vw;
    }

    body > nav > ul > li {
        display: none;
    }
    
    main > nav li {
        position: relative;
        top: -7vw;
    }
    
}

@media (max-width: 77px) {
    main > nav li {
        display: none;
    }
}

@media (min-width: 2000px) {
    header figure {
        right: 4vw;
        top: 3vw;
        transform: scale(2.2);
    }

    header figure.minimized {
        transform: scale(1.3) translateX(100px);
        top: 0;
        right: 3vw;
    }

    aside {
        top: 13vw;
    }
}
